In [1]:
import pandas as pd
import numpy as np

In [2]:
col=["ID","Title","Genre","Description"]

In [3]:
df=pd.read_csv("train_data.txt",sep=':::',header=None, engine='python')

In [4]:
df.columns=col

In [5]:
df.head()

,ID,Title,Genre,Description
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous r...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-re...

In [6]:
x=pd.DataFrame(df.iloc[:10000,[-1]])

In [7]:
y=pd.DataFrame(df.iloc[:10000,[-2]])

In [8]:
x.head()

                                         Description
0   Listening in to a conversation between his do...
1   A brother and sister with a past incestuous r...
2   As the bus empties the students for their fie...
3   To help their unemployed father make ends mee...
4   The film's title refers not only to the un-re...

In [9]:
y.head()

        Genre
0      drama
1   thriller
2      adult
3      drama
4      drama

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
l=LabelEncoder()

In [12]:
y=pd.DataFrame(l.fit_transform(y))

C:\python10\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [13]:
y.columns=['Genre']

In [14]:
y['Genre'].nunique()

27

In [15]:
y.head()

   Genre
0      8
1     24
2      1
3      8
4      8

In [16]:
def convert_low(text):
    return text.lower()

In [17]:
x.head()

                                         Description
0   Listening in to a conversation between his do...
1   A brother and sister with a past incestuous r...
2   As the bus empties the students for their fie...
3   To help their unemployed father make ends mee...
4   The film's title refers not only to the un-re...

In [18]:
x['Description']=x['Description'].apply(convert_low)

In [19]:
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DIWAKAR\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [20]:
def remove_stopwords(text):
    x = []
    for i in text.split():
        if i not in stopwords.words('english'):
            x.append(i);
    y = x[:]
    x.clear()
    return y;

In [21]:
x['Description']=x['Description'].apply(remove_stopwords)

In [22]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [23]:
def join_back(text):
    return ' '.join(text)

In [24]:
def stem_word(text):
    y = []
    for i in text:
        y.append(ps.stem(i))
    z = y[:]
    return z

In [25]:
x['Description']=x['Description'].apply(stem_word)

In [26]:
x['Description']=x['Description'].apply(join_back)

In [27]:
x.head()

                                         Description
0  listen convers doctor parents, 10-year-old osc...
1  brother sister past incestu relationship curre...
2  bu empti student field trip museum natur histo...
3  help unemploy father make end meet, edith twin...
4  film' titl refer un-recov bodi ground zero, al...

In [28]:
from sklearn.feature_extraction.text import CountVectorizer

In [29]:
cv=CountVectorizer()

In [34]:
XD=x['Description']

In [35]:
X=cv.fit_transform(XD).toarray()

In [36]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [37]:
from sklearn.naive_bayes import MultinomialNB

In [39]:
m=MultinomialNB()

In [40]:
m.fit(x_train,y_train)

C:\python10\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB()

In [41]:
pred=m.predict(x_test)

In [42]:
pred

array([8, 9, 7, ..., 5, 8, 8])

In [46]:
from sklearn.metrics import accuracy_score, precision_score, recall_score,confusion_matrix

print("Accuracy : ", accuracy_score(pred, y_test))

Accuracy :  0.483

In [48]:
y_test

      Genre
1938     21
4872      8
4650     12
5095      8
1017      7
...     ...
142       5
6593      3
261       1
413      24
8322     21

[3000 rows x 1 columns]